body {
  width: 80%;
  margin: auto;
}

#type-options {
  position: absolute;
  top: 2.5%;
  left: 0.5%;
  width: 100%;
  font-family: arial;
  font-size: 24px;
}

#type-options span {
  padding: 1% 1%;
  opacity: 0.5;
}

#type-options span:hover {
  opacity: 1;
  cursor: pointer;
}

.area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.letterform {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.letterform img {
  height: 100px;
  opacity: 0;
  overflow: hidden;
}

.letterform iframe {
  position: absolute;
  left: -250%;
  bottom: 1%;
  width: 600%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

video {
  height: 150px !important;
  top: 0px !important;
}

.html5-video-container {
  height: 150px !important;
  top: 0px !important;
}

.line {
  display: flex;
}
